.presentacion{
  position: relative;
  background: linear-gradient(90deg,#01183e, #023e7b, rgb(2, 29, 99), #01183e, rgb(1, 7, 119));
  height: 346px;
  width:100%;
  margin: 0;
  margin-bottom: 38px;
}
.presentacion_block0{
  display: flex;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.presentacion_block0 img{
  position: absolute;
  max-height: 100%;
  object-fit: cover;
}
.presentacion_block1{
  padding: 24px 0;
  display: flex;
  flex-direction: column;
}

.presentacion_block1 h1{
  font-size: 32px;
  color: white;
}
.presentacion_block1 h2{
  background: linear-gradient(95deg,rgb(199, 187, 10), rgb(180, 8, 8));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.presentacion_sticks{
  display: flex;
}
.presentacion_sticks p{
  margin-right: 24px;
  color: white;
}
.presentacion_block2{
 width: 300px;
}
@media (max-width: 720px){
  .presentacion_block1{
    padding: 0px;
    width: 60%;
  }
  .presentacion_block1 h1{
    font-size: 16px;
  }
  .presentacion_block1 h2{
    font-size: 16px;
  }
  .presentacion_sticks {
    display: block;
  }
  .presentacion_sticks p{
    font-size: small;
  }
  .presentacion_block0 {
    width: 100%;
    padding: 8px;
    margin: 0 auto;
  }
  .presentacion_block2{
    width: 40%;
  }
  .presentacion_block2 img{
    width: 200px;
    height: 266px;
    position: relative;
    right: 70px;
  }
  .presentacion{
    height: 274px;
  }
}
@media screen and (min-width: 721px) and (max-width: 821px){
  .presentacion_sticks{
    display: block;
  }
  .presentacion_block0{
    width: 600px;
    margin: 0 auto;
  }
  .presentacion_block1 h1{
    font-size: 24px;
  }
  .presentacion_block1 h2{
    font-size: 24px;
  }
  .presentacion_sticks p{
    font-size: small;
  }

}